<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <h1>this is a home page 2 + 3  </h1>
    <h3> <%= 43  * 4  %> </h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id nesciunt inventore dolores!</p>
    <button>click me </button>
</body>
</html>